
.logo{
    width: 6.6875rem;
}

.userIcon{
    width: 2.875rem;

    
    
}
body, html{
    padding: 0;
    margin: 0;
}
nav{
    background-color: $primary-black;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 1.0625rem ;
    padding-left: 1.0625rem;    


}

.black{
    background-color: $primary-black;
    color: $primary-white;
}
.white{
    background-color: $primary-white;
    color: $primary-black;
}
