.Sec{
    padding-left: 10.6875rem;
    padding-right: 10.6875rem;
    padding-top: 8.4375rem;
    padding-bottom: 8.4375rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    align-items: center;

    .txtCont{
        flex: 1;
        max-width: 40rem;
        min-width: 20rem;

        h1{
            display: inline-block;
             max-width:37.5rem ;
        }
        p{
            display: inline-block;
            max-width: 37rem;
        }
    }

    img{
        flex: 1;
        max-width: 600px;
        min-width: 400px;

    }
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2.1875rem;
    background-color: $primary-black;
    color: white;


    p{
        display: inline-block;
        margin-right: 5rem;
    }

    img{

        width: 30px;
    }
}