#map{
    height: 300px;
    width: 400px;
    margin: 10px 0;
    padding: 3px;
    background-color:$darker-black;
}

.center{
    display: flex;
    justify-content: center;
}
.groupNames{
    p{
        margin: 10px 10px;
    }
    h4{
        border-radius: 6px;
        margin: 10px 0;
        padding: 15px 10px;
        background-color: $primary-black;
    }
}

.listOfGroupsPageCon{
    display: flex;
    justify-content: center;
    
    //align-items: center;
    color: $primary-white;
    .groupsNames_Map{
        flex: 2;
        width: fit-content;
    }

    .listOfOrders{
        flex: 4;
        max-width: 700px;
        min-width: 650px;
        background-color: $dark-black;
        margin: 10px ;
        padding: 20px;
        border-radius: 10px;
    }

    .row{
        background-color: $darker-black;
        margin-top: 8px;

    }

    .row,.columnType{
        display: flex;
        text-align: left;
        border-radius: 5px;
        padding: 0 8px;
        .name{
            flex: 1;
        }
        .address{
            flex: 3;
        }
        .phoneAndIcons{
            flex: 2;
            display: flex;
            .phone{
                flex:2;
            }
            .Icons{
                justify-content: flex-end;
                align-items: center;
                display: flex;
                flex: 2;
                img{
                    min-width: 30px;
                    max-width: 50px;
                }
            }            
        }

    }
}

